@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-opacity-primary {
    background-color: hsla(0, 0%, 100%, 0.2);
  }

  .bg-opacity-secondary {
    background-color: hsla(0, 0%, 100%, 0.4);
  }

  .border-outline-badge {
    border-color: hsla(225, 13%, 79%, 1);
  }

  .bg-tooltip-secondary {
    background-color: hsla(var(--tooltip-secondary-foreground), 1);
  }

  .fill-tooltip-secondary {
    fill: hsla(var(--tooltip-secondary-foreground), 1);
  }

  .text-tooltip-secondary {
    color: hsla(var(--tooltip-secondary), 1);
  }

  .bg-tooltip-primary {
    background-color: hsla(var(--tooltip-primary-foreground), 1);
  }

  .fill-tooltip-primary {
    fill: hsla(var(--tooltip-primary-foreground), 1);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225, 8%, 40%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 182, 79%, 58%;
    --primary-foreground: 225, 100%, 65%;
    --secondary: 225, 100%, 65%;
    --secondary-foreground: 182, 79%, 58%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --tooltip-secondary: 165, 100%, 39%;
    --tooltip-secondary-foreground: 146, 47%, 94%;
    --tooltip-primary: 211, 100%, 77%;
    --tooltip-primary-foreground: 211, 100%, 77%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --footer: 0, 0%, 98%;
    --footer-text-primary: 225, 11%, 23%;
    --footer-text-secondary: 225, 8%, 40%;
    --gray-700: 217, 23%, 27%;
    --yellow: 61, 100%, 57%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
  .font-inter {
    font-family: var(--font-inter), system-ui, sans-serif;
  }
}
